{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<section class="section has-background-success-dark">
    <div class="hero-body has-text-white">
        <button class="button is-primary is-light" style="position: fixed; bottom: 1%; right: 1%; display: flex;">
            <a class='' href="#start">Вернуться в начало</a></button>
        <div class="content">
            <h1>Привет, друг!</h1>
            <p>На этой странице мы поподробнее расскажем о курсах в нашей академии!
            </p>
            <h2>Выбери желаемый курс</h2>
            <ul >
                <li ><a class='has-text-white' href="#1">Python</a></li>
                <li ><a class='has-text-white' href="#2">C++</a></li>
                <li ><a class='has-text-white' href="#3">Javascript</a></li>
                <li ><a class='has-text-white' href="#4">HTML/CSS</a></li>
            </ul>
            <dt class="is-size-2" id="1">Python</dt>
            <dd>
                <h1>Что такое Python?</h1>
                <p></p>Python (произносится как «пайтон», но многие говорят «питон») – это язык программирования общего
                назначения, который широко применяется в различных областях: от создания банальных веб-страниц до систем
                управления роверами на других планетах.
                Язык скриптовый, он универсален и является самым популярным языком программирования в мире (по данным
                издания Tiobe, составляющего топы наиболее востребованных языков). </p>

                <h1>Что пишут на Python?</h1>
                <p>Что вздумается. Любой программный продукт, независимо от сложности и специфики, можно создать на
                    Python
                    и одном из сотен фреймворков, разработанных для него.</p>

                <h1>Веб-разработка</h1>
                <p>Для создания веб-приложений и сайтов используются сторонние библиотеки в духе Pyromid, Flask, Django
                    и
                    десятков других, помогающих заменить PHP и JavaScript.
                    На Python даже полноценные системы управления данными пишут, которые впоследствии становятся
                    аналогами
                    мастодонтов наподобие WordPress и Drupal. Также на Python создают вспомогательные инструменты для
                    работы
                    с вебом, например скрапперы, собирающие информацию с чужих веб-страниц.</p>

                <h1>Десктопная разработка</h1>
                <p>На Python создавались мощные приложения и инфраструктуры, например редактор изображений GIMP, магазин
                    приложений в операционной системе Ubuntu, редакторы 3D-графики, bittorrent-сети и т.п. Список можно
                    продолжать долго.

                    Также Python нередко становится составной частью подобных приложений. Например, Sublime Text написан
                    на
                    С++, а расширения и плагины для него написаны на Python.

                    Так что Python можно нередко встретить в совершенное неожиданных местах.
                </p>

                <h1>Мобильная разработка</h1>
                <p>Приложения для iOS и Android создаются на сотнях различных языков, и Python в их числе. Чаще,
                    конечно,
                    это касается их серверной составляющей, потому что за интерфейс отвечают более распространенные
                    фреймворки либо какие-то узкоспециализированные технологии. Тем не менее за бэкенд (то есть
                    внутреннюю
                    логику программы) часто отвечает именно Python.</p>

                <h1>Видеоигры</h1>
                <p>Python используется в разработке игр как раз из-за возможности создавать с помощью языка надежные и
                    продуманные скрипты. Они отвечают за движение персонажей, выполнение каких-либо действий, переход от
                    одного события в игре к другому и так далее.
                    Поэтому Пайтон можно встретить под капотом множества хитовых игр, во многие из которых вы наверняка
                    успели поиграть (тот же крайне популярный World of Tanks).
                    Но при желании язык можно задействовать и для создания графических интерфейсов.</p>

                <h1>ОС</h1>
                <p>Конечно, Windows или Linux на Python не написаны (хотя язык во многие из этих ОС встроен по
                    умолчанию),
                    но подсистемы для банкоматов или мини-компьютеров по типу Raspberry Pi часто создаются именно при
                    помощи
                    Пайтона. То же касается станков, автоматизированых механизмов для управления температурой и т.п.
                    Можете вспомнить об этом, когда в следующий раз будете снимать деньги в банкомате Сбербанка.</p>
            </dd>
            <br>
            <dt class="is-size-2" id="2">C++</dt>
            <dd>
                <p>C++ — это язык программирования, основы которого были заложены более 40 лет назад, но который
                    по-прежнему повсеместен. В этой статье мы с вами разберемся, где и почему он используется, и
                    порассуждаем, есть ли у него будущее.</p>

                <h1>Где сегодня используется C++?</h1>
                <p>С++ повсюду. Код, написанный на C++, можно найти в вашем телефоне, в вашей стиральной машине, в вашем
                    автомобиле, в самолетах, в банках и вообще везде, где только можно представить.
                    Но давайте будем более конкретными. Многие приложения для работы с изображениями, такие как Adobe
                    Photoshop или Illustrator, написаны на C++. 3D-игры также часто пишут на C++. Программное
                    обеспечение
                    для 3D-анимации, моделирования и рендеринга также в основном написано на C++. Манипуляции с
                    изображениями — довольно сложная и ресурсоемкая область, требующая скорости и близости к аппаратной
                    части C++.<br>
                    Но работа с изображениями — далеко не единственная область, в которой доминирует C++. С большой
                    долей
                    вероятности браузер, который вы используете для чтения этой статьи, также был написан на C++, как,
                    например, Chrome и Firefox.<br>
                    Если мы спустимся еще ниже и посмотрим на компиляторы и операционные системы, то многие из них
                    написаны
                    на C++. Если нет, то, скорее всего, это C.<br>
                    Но это все пока только примеры в пределах десктопного мира.<br>
                    В мире корпоративного программного обеспечения вы, конечно, найдете и другие языки, но там, где
                    критична
                    производительность, вполне обоснованно выбирают C и C++.<br>
                    В мире встраиваемых систем, где и память, и ЦП более ограничены, чем у десктопных компьютеров, C++
                    процветает. Независимо от того, смотрите ли вы на свои умные часы, телефон, включаете ли вы
                    стиральную
                    машину, садитесь ли в автомобиль и включаете зажигание, вам следовало бы испытывать немного
                    благодарности в отношении неизвестного C++ разработчика, который сумел не испортить все из-за ошибки
                    сегментации сразу после запуска.<br>
                </p>
                <h1>Почему С++ используется до сих пор?</h1>
                <p>Итак, мы увидели, что C++ по-прежнему используется почти везде. Но почему? Можно встретить очень
                    много
                    скептиков, которые считают, что это чистой воды легаси и его следует удалять из кодовой базы
                    большинства
                    современных компаний.<br>
                    Так все-таки это легаси?<br>
                    Некоторые люди утверждают, что C++ все еще используется только потому, что это технология,
                    унаследованная от старых приложений. Под “старым” я часто подразумеваю программное обеспечение
                    десятилетней давности.<br>
                    Это правда только отчасти.<br>
                    Давайте порассуждаем о Cobol-ковбоях. Мало кто хорошо владеет Cobol, поэтому, если на него есть
                    спрос,
                    то они могут заработать кучу денег.<br></p>

                <h1>А спрос есть!</h1>

                <p>Cobol по-прежнему широко используется в финансовой индустрии. Эти системы были написаны много
                    десятилетий назад и до сих пор работают довольно хорошо. Может быть, они не соответствуют всем
                    современным требованиям, но они устойчивы, надежны и настолько сложны, что никто не осмеливается их
                    переписывать. <br>
                    C++ не так уж плох, он не так стар, как Cobol, и все больше людей изучают его и знают, более или
                    менее,
                    как его использовать.<br>
                    Но иногда он используется только потому, что компания уже очень много в него инвестировала. У нее
                    вокруг
                    C++ уже развились целые экосистемы. Мигрировать их было бы слишком дорого. Даже руководители,
                    которые по
                    каким-либо причинам не в восторге от C++, сочтут такую ​​миграцию экономически бессмысленной.<br>
                </p>

                <h1>Но является ли C++ таким уж прям легаси?</h1>

                <h2>C++ эволюционирует</h2>
                <p>C++ развивается совершенно предсказуемым образом. Как я подробно объяснял в одной из своих
                    предыдущих статей, с 2011 года C++ следует модели подобной отправлению поездов. Каждые три года
                    выпускается новая версия с новыми языковыми фичами и библиотеками, а также с исправлениями ошибок и
                    доработками более ранних фич. <br>
                    Четкий график релизов и стандартизированная работа гарантируют, что новые версии являются
                    результатом
                    продуманных дополнений, а не разовых решений. У разработчиков компиляторов есть время, чтобы
                    реализовать
                    их должным образом, а у сообщества - чтобы адаптироваться.<br>
                    В то же время одной из суперсил C++ является обратная совместимость. Код, скомпилированный вчера,
                    скорее
                    всего, скомпилируется и завтра. Даже больше - код, который можно было скомпилировать в 1985 году,
                    скорее
                    всего, можно будет скомпилировать и в 2025 году.<br>
                    Эволюция C++ была направлена ​​на то, чтобы минимизировать головную боль разработчиков и сделать
                    написание более безопасного кода проще.<br>
                    Одной из важнейших особенностей C++ является предсказуемое управление памятью. Тут нет сборки
                    мусора,
                    которая в конечном итоге происходит (или нет). Когда и как память будет освобождена и возвращена
                    операционной системе - абсолютно детерминировано. Хотя все всегда было абсолютно детерминировано,
                    было
                    также довольно легко выстрелить себе в ногу и испортить все, не высвобождая память или наоборот
                    пытаясь
                    высвободить ее дважды или даже больше раз...<br>
                    <br>
                    Современный C++ предоставляет интеллектуальные указатели, которые сделали динамическое управление
                    памятью менее подверженным ошибкам за счет добавления указателей, которые могут “убирать за собой”.
                    Еще одним поводом для головной боли у многих разработчиков выступают шаблоны. SFINAE, невероятно
                    длинные и трудные для чтения сообщения об ошибках, перестают быть такой большой проблемой с
                    введением
                    концептов в C++20, которые помогают нам ограничивать типы, принимаемые шаблонами, и предоставлять
                    релевантные
                    и относительно легко читаемые сообщения об ошибках, если что-то все-таки идет не так.
                    <br>
                    В последние годы была проделана большая работа по внедрению библиотеки "ranges", с помощью которой
                    мы можем переписать иначе очень процедурные циклы в функциональном стиле.
                </p>
            </dd>
            <dt class="is-size-2" id="3">Javascript</dt>
            <dd>
                <h1>Что такое JavaScript?</h1>
                <p>JavaScript – это язык программирования, который используют разработчики для создания интерактивных
                    веб-страниц. Функции JavaScript могут улучшить удобство взаимодействия пользователя с веб-сайтом: от
                    обновления ленты новостей в социальных сетях и до отображения анимации и интерактивных карт.
                    JavaScript
                    является языком программирования при разработки скриптов для выполнения на стороне клиента, что
                    делает
                    его одной из базовых технологий во всемирной сети Интернет. Например, карусель изображения,
                    выпадающее
                    по клику меню и динамично меняющиеся цвета элементов на веб-странице, которые вы видите во время
                    просмотра страниц в Интернете, выполнены при помощи JavaScript.</p>
                <h1>Для чего используется JavaScript?</h1>
                <p>
                    Исторически веб-страницы были статичными, похожими на страницы в книге. Статическая страница в
                    основном
                    отображала информацию в фиксированном виде и не выполняла всего того, что мы сейчас ожидаем от
                    современного сайта. Язык JavaScript возник как технология на стороне браузера, позволяющая сделать
                    веб-приложения более динамичными. Используя его, браузеры могли реагировать на взаимодействие с
                    пользователем и менять расположение контента на веб-странице. <br>
                    По мере развития языка, разработчики JavaScript создали библиотеки, фреймворки и практики
                    программирования и начали использовать его за пределами веб-браузеров. Сегодня JavaScript можно
                    использовать для разработки как на стороне клиента, так и на стороне сервера. В следующих
                    подразделах мы
                    приводим некоторые общие примеры использования.<br>
                    Исторически веб-страницы были статичными, похожими на страницы в книге. Статическая страница в
                    основном
                    отображала информацию в фиксированном виде и не выполняла всего того, что мы сейчас ожидаем от
                    современного сайта. Язык JavaScript возник как технология на стороне браузера, позволяющая сделать
                    веб-приложения более динамичными. Используя его, браузеры могли реагировать на взаимодействие с
                    пользователем и менять расположение контента на веб-странице. <br>
                    По мере развития языка, разработчики JavaScript создали библиотеки, фреймворки и практики
                    программирования и начали использовать его за пределами веб-браузеров. Сегодня JavaScript можно
                    использовать для разработки как на стороне клиента, так и на стороне сервера. В следующих
                    подразделах мы
                    приводим некоторые общие примеры использования.</p>
                <h1>Как работает JavaScript?</h1>
                <p>Все языки программирования работают путем перевода английского синтаксиса в машинный код, который
                    затем
                    выполняет операционная система. JavaScript в широком смысле можно отнести к категории скриптовых или
                    интерпретируемых языков. Код JavaScript интерпретируется, то есть непосредственно переводится в код
                    машинного языка движком JavaScript. В других языках программирования компилятор обрабатывает весь
                    код в
                    машинный на отдельном этапе. Таким образом, все скриптовые языки являются языками программирования,
                    но
                    не все языки программирования являются скриптовыми.</p>
            </dd>
            <dt class="is-size-2" id="4">HTML/CSS</dt>
            <dd>
                <h1>Что такое HTML и CSS?</h1>
                <p>Hypertext Markup Language (HTML) и Cascading Style Sheets (CSS) – два других языка программирования,
                которые разработчики используют при создании фронтенда. HTML – это основной строительный блок
                большинства веб-страниц. Все абзацы, разделы, изображения, заголовки и текст написаны на HTML. Контент
                появляется на сайте в том порядке, в котором он написан в HTML.
                <br>
                CSS – это язык стилевых правил, которые мы используем для применения стиля к содержимому HTML. Вы можете
                применять его для проектирования элементов сайта, таких как цвета фона, шрифты, колонки и границы.</p>

                <h1>HTML, CSS и JavaScript</h1>
                <p>Все три языка используются вместе, чтобы создать положительный пользовательский опыт на любом сайте.
                Хотя HTML и CSS в основном управляют статическим содержимым, они также могут интегрироваться с кодом
                JavaScript на стороне клиента для динамического обновления контента.<br>
                Например, блок кода сценария на HTML-странице может содержать JavaScript. Затем браузер может
                обрабатывать как HTML, так и внутренний код JavaScript, когда HTML-страница загружается в браузере.</p>
            </dd>
            </dl>
            <br>
            <h4>Итог</h4>
            <p>Надеюсь теперь вы точно определились с курсом и готовы приступать к обучению!</p>
        </div>
</section>

{% endblock %}